<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
     <properties resource="jdbc.properties"></properties>
     <settings>
     <setting name="logImpl" value="LOG4J"/>
     </settings>
    <!--别名-->
<typeAliases >
<typeAlias type="com.neuedu.entity.Account" alias="Account"/>
</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
<mapper       resource="com/neuedu/mapper/LoginMapper.xml"/>
<mapper       resource="com/neuedu/mapper/ProductMapper.xml"/>
<mapper       resource="com/neuedu/mapper/CartMapper.xml"/>
<mapper       resource="com/neuedu/mapper/OrderMapper.xml"/>
      <mapper       resource="com/neuedu/mapper/CategoryMapper.xml"/>
  </mappers>
</configuration>
