<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Cart">
    <!--添加购物车-->
    <insert id="addCart"  parameterType="map">
 insert into cart(productid,productnum) values (#{productid},#{productnum})
    </insert>
    <!--遍历购物车-->
<select id="findAllCart"  resultMap="ProductCartResultMap">
/*SELECT product.*,cart.id ,cart.productnum FROM product,cart  WHERE product.id= cart.productid*/
SELECT p.name,p.pdesc,p.price,p.rule,p.image,p.stock,p.category_id,c.id,c.productid ,c.productnum FROM product p,cart c WHERE p.id= c.productid
</select>
    <!--id遍历购物车-->
    <select id="findAllCartBYid"  resultMap="ProductCartResultMap" parameterType="map">
     SELECT  product.*, cart.id , cart.productnum FROM product,cart  WHERE  cart.id=#{cartid} AND product.id=(SELECT productid FROM cart WHERE id=#{id})
    </select>
    <!--删除购物车-->
<delete id="deleteCart"  parameterType="int">
    delete from cart where id=#{id}
</delete>
    <!--修改购物车-->
    <update id="updateCart" parameterType="map">
        update cart set productnum=#{productnum} where id=#{id}
    </update>
    <!--分页查询-->
    <select id="findTotalCount" resultType="java.lang.Integer">
        select count(id) from cart
    </select>
    <select id="findCartPage" parameterType="map" resultMap="ProductCartResultMap">
     SELECT p.name,p.pdesc,p.price,p.rule,p.image,p.stock,p.category_id,c.id,c.productid ,c.productnum FROM product p,cart c WHERE p.id= c.productid limit #{offest},#{pageSize}
    </select>
<select id="findcartByproductid"  resultType="com.neuedu.entity.Cart" parameterType="int">
select id,productid,productnum from  cart where productid=#{productid}
</select>


    <!-- 订单查询关联用户的resultMap
     -->
    <resultMap type="com.neuedu.entity.Cart" id="ProductCartResultMap">
        <!-- 配置映射的订单信息 -->
        <!-- id：指定查询列中的唯 一标识，订单信息的中的唯 一标识，如果有多个列组成唯一标识，配置多个id
            column：订单信息的唯 一标识 列
            property：订单信息的唯 一标识 列所映射到Orders中哪个属性
          -->
        <id column="id" property="id"/>
        <result column="productid" property="productid"/>
        <result column="productnum" property="productNum"/>
        <!-- 配置映射的关联的用户信息 -->
        <!-- association：用于映射关联查询单个对象的信息
        property：要将关联查询的用户信息映射到Orders中哪个属性
         -->
        <association property="product"  javaType="com.neuedu.entity.Product">
            <!-- id：关联查询用户的唯 一标识
            column：指定唯 一标识用户信息的列
            javaType：映射到user的哪个属性
             -->
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="pdesc" property="desc"/>
            <result column="price" property="price"/>
            <result column="rule" property="rule"/>
            <result column="image" property="image"/>
            <result column="stock" property="stock"/>
            <result column="category_id" property="category_id"/>
        </association>
    </resultMap>
    <!--解决数据库字段和实体类不同的情况-->
    <resultMap id="cartmap" type="com.neuedu.entity.Cart">
        <id column="id" property="id"/>
        <result column="productid" property="productid"/>
        <result column="productnum" property="productNum"/>
    </resultMap>
</mapper>