<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Category">
<select id="findall" resultType="com.neuedu.entity.Category">
SELECT  id,parent_id,cname,status,sort_order,create_time,update_time FROM category
</select>
    <insert id="addCategory" parameterType="com.neuedu.entity.Category">
        insert into category(id,cname,status,sort_order,create_time,update_time) values (#{id},#{cname},#{status},#{sort_order},#{create_time},#{update_time})
    </insert>
    <update id="updateCategory" parameterType="map">
  update category set parent_id=#{parent_id},cname=#{cname},status=#{status},sort_order=#{sort_order},create_time=#{create_time},update_time=#{update_time} where id=#{id}
    </update>
    <delete id="deleteCategory" parameterType="java.lang.Integer">
        delete from category where id=#{id}
    </delete>
    <select id="findById" parameterType="java.lang.Integer" resultType="com.neuedu.entity.Category">
        SELECT  id,parent_id,cname,status,sort_order,create_time,update_time FROM category WHERE id=#{id}
    </select>
    <select id="findAllparentname" resultType="com.neuedu.entity.Category">
        select  cname  FROM category WHERE parent_id=0
    </select>
    <select id="findAllsonname" parameterType="java.lang.String" resultType="com.neuedu.entity.Category">
         select  id,cname FROM  category  WHERE  parent_id=(SELECT id FROM category where cname=#{cname})
    </select>
    <!--分页查询-->
    <select id="findTotalCount" resultType="java.lang.Integer">
       select count(id) from category
    </select>
    <select id="findcategoryPage" parameterType="map" resultType="com.neuedu.entity.Category">
        SELECT  id,parent_id,cname,status,sort_order,create_time,update_time FROM category  limit #{offest},#{pageSize}
    </select>
</mapper>