<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Account">
<select id="findByUsernameAndPassword"  resultType="Account"  parameterType="map">
select * from  account where username=#{username} and password=#{password}
</select>
    <update id="addToken"  parameterType="map" >
update account set token=#{token} where accountid=#{accountid}
    </update>
    <select id="findTokenByAccountid"  resultType="java.lang.String"  parameterType="java.lang.Integer">
        select token from  account where accountid=#{accountid}
    </select>

</mapper>