<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neuedu.entity.Product">
    <!--遍历商品-->
    <select id="FindProduct" resultType="com.neuedu.entity.Product">
        select id,name,pdesc,price,rule ,image,stock from  product
    </select>
    <!--分页查询-->
    <select id="findTotalCount" resultType="java.lang.Integer">
         select count(id) from product
     </select>
    <select id="findProductPage" parameterType="map" resultType="com.neuedu.entity.Product">
       select id,name,pdesc,price,rule ,image,stock from  product limit #{offest},#{pageSize}
    </select>
    <!--添加商品-->
    <insert id="addproduct" parameterType="com.neuedu.entity.Product" keyColumn="id" keyProperty="id"
            statementType="PREPARED" useGeneratedKeys="true">
insert into product(name,pdesc,price,rule,image,stock) values (#{name},#{desc},#{price},#{rule},#{image},#{stock})
</insert>
    <!--通过id删除商品-->
    <delete id="delectProductByid" parameterType="java.lang.Integer">
        delete from product where id=#{id}
    </delete>
    <!--修改商品-->
<update id="updateProduct"  parameterType="com.neuedu.entity.Product" >
    update product set name=#{name},price=#{price},image=#{image},rule=#{rule},stock=#{stock},pdesc=#{desc} where id=#{id}
</update>
    <!--id查商品-->
<select id="findProductByid" parameterType="int" resultMap="productmap">
    select id,name,pdesc,price,rule ,image,stock from  product where id=#{id}
</select>
    <!--category_id查商品-->
<select id="FindProductBycategory_id" resultType="com.neuedu.entity.Product" parameterType="int">
select id,name,pdesc,price,rule ,image,stock from  product where category_id=#{category_id}
    </select>
    <!--商品排序-->
    <select id="productByorder" resultMap="productmap">
        select name,pdesc,price from  product ORDER BY price
    </select>
    <!--修改商品-->
    <update id="updateStock"  parameterType="com.neuedu.entity.Product">
        update product set stock=#{stock} where id=#{id}
    </update>
<!--修改商品库存-->
    <!--<update id="updateStock" parameterType="com.neuedu.entity.Product">-->
        <!--update product-->
        <!--<set>-->
            <!--&lt;!&ndash;<if test="name!=null">name=#{name}</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="desc!=null">pdesc=#{pdesc}</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="price &gt; 0">price=#{price}</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="rule!=null">rule=#{rule}</if>&ndash;&gt;-->
            <!--&lt;!&ndash;<if test="image!=null">image=#{image}</if>&ndash;&gt;-->
            <!--<if test="stock &gt; 0">stock=#{stock}</if>-->
        <!--</set>-->
        <!--where id=#{id}-->
    <!--</update>-->

    <!--解决数据库字段和实体类不同的情况-->

    <resultMap id="productmap" type="com.neuedu.entity.Product">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="pdesc" property="desc"/>
            <result column="price" property="price"/>
            <result column="rule" property="rule"/>
            <result column="image" property="image"/>
            <result column="stock" property="stock"/>
            <result column="category_id" property="category_id"/>
        </resultMap>


</mapper>